table{
    font-family: Arial;
}

table tr td{
    height: 150px;
    background-color: #173E7D;
    color: white;
    width: 25%;
    font-size: 16px;
    padding: 15px;
    vertical-align: top;
    position: relative;
}

table{
    border-collapse: separate;
    border-spacing: 30px;
}

table th{
    color: white;
}

.day{
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background-color: white; 
    line-height: 25px; 
    font-size: 16px; 
    text-align: center; 
    padding: 5px; 
    color: #0D1623;
}

#event-time{
    font-size: 15px;
}

#running-time{
    font-size: 10px; 
    opacity: 50%; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    padding: 15px
}