.topBar{
    text-align: center;
    list-style-type: none;
    color: white;
    padding: 20px 0px;
    height: 100%;
    margin-top: 15px;
    margin-left: 50px;
}
.topBar li{
    display: inline-block;
    border: 1px solid #0D1623;
    margin: 5px;
    border-radius: 20px;
    padding: 4px 20px;
    font-size: 18px;
    font-family: Arial;
}

#active{
    background-color: #ddd;
    color: #0D1623;
    font-weight: bold;
}

#inactive{
    color: white;
}

#inactive:hover{
    border-color: white;
}

.log-reg{
    display: inline-block;
}

.search-button{
    background-color: #ddd;
    width: 250px;
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    border: 0px;
    border-radius: 20px;
    color: #0D1623;
}

.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img
{
  margin:0;
  width: 100%;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  font-family: Arial;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  padding: 10px 0px;
  bottom: 4px;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.6);

}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 2px;
  background: none;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
}

.active, .dot:hover {
  background-color: white;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.footer1
{
 white-space:nowrap;
 background-image: url('img/Cinema_footer.jpg');
 width: 1500px;
 height: 400px;
 align-self: center;
 font-family: 'Sansation Light';

}

.info
{
 font-family: 'Sansation Light';
 text-align:left;
 margin-left:1150px;
}
