.topBar{
    text-align: center;
    list-style-type: none;
    color: white;
    padding: 20px 0px;
    margin-top: 0px;
}
.topBar li{
    display: inline-block;
    border: 1px solid #0D1623;
    margin: 5px;
    border-radius: 20px;
    padding: 4px 20px;
    font-size: 18px;
    font-family: Arial;
}

#active{
    background-color: #ddd;
    color: #0D1623;
    font-weight: bold;
}

#inactive{
    color: white;
}

#inactive:hover{
    border-color: white;
}
.log-reg{
    display: inline-block;
}

.search-button{
    background-color: #ddd;
    width: 250px;
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    border: 0px;
    border-radius: 20px;
    color: #0D1623;
}
