.main-content{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.main-content img{
    width: 200px;
    height: 300px;
    margin: 30px 20px;
    transition: transform .2s;
    box-shadow: 5px 5px 20px black;
}
.main-content img:hover{
    transform: scale(1.1);
}

.trending-movies-label{
    width: 80%; 
    margin: 40px auto 0px auto;
    color: white;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
}