button
{
    text-decoration:none;
    display: inline-block;
    border: 1px solid #0D1623;
    margin-right:150px;
    border-radius: 15px;
    padding: 6px 25px;
    font-size: 22px;
    font-family: Arial;
    text-align:center;
}

.input-box{
    font-family:arial;
    font-weight:bold;
    font-size:16px;
    width:20%;
    padding:12px;
    border-radius:8px;
    box-sizing:border-box;
    margin-top:4px;
    margin-bottom:7px;
}

.registerbtn
{
    margin-top:70px;
    margin-left:150px;
    text-decoration:none;
    display: inline-block;
    border: 1px solid #0D1623;
    border-radius: 10px;
    padding: 6px 10px;
    max-height:40px;
    max-width:150px;
    font-size: 22px;
    font-family: Arial;
    text-align:center;
    

}

.registerbtn:hover {
    opacity:1;
}

.two
{   
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}


